{% extends "base.html" %}
{% block content %}
<div class="container"> 
<form action="{{ url_for('books.add_books') }}" class="add-entry" method="POST">
    <div class="form-group">
        <label for="InputTitle" class="">タイトル</label>
        <input type="text" class="form-control" id="InputTitle" name=title>
    </div>

    <div class="form-group">
        <label for="InputTitle" class="">著者</label>
        <input type="text" class="form-control" id="InputAuthor" name=author >
    </div>

    <div class="form-group">
        <label for="InputTitle" class="">出版者</label>
        <input type="text" class="form-control" id="InputPublisher" name="published_by" >
    </div>

    <div class="form-group">
        <label for="InputTitle" class="">出版年</label>
        <input type="text" class="form-control" id="InputPublisher" name="published_at" >
    </div>

    <div class="form-group">
        <label for="InputTitle" class="">イメージリンク</label>
        <input type="text" class="form-control" id="InputTitle" name="img_link">
    </div>

    <div class="form-group">
        <label for="InputTitle" class="">ECサイトリンク</label>
        <input type="text" class="form-control" id="InputTitle" name="pur_link">
    </div>
    
        <button type="submit" class="btn btn-primary">作成</button>
</form>
</div>


{% endblock %}