{% extends 'base.html'%}
{% block content %}
<div class="container">
<div class="row ">
{% for book in books %}
  {% if book.id % 2 == 1 %}
  <div class="col-md-6">
      <div class="card col-md-12">
        <div class="row g-0">
          <div class="col-md-4 text-center">
            <img src="{{book.img_link}}"  style="height: 200px;" alt="..." class="ima-fluid">
          </div>
       
          <div class="container col-md-8 text-start">
            <h6>{{book.title}}</h6>
            <p><a href="{{book.pur_link}}" class="btn btn-secondary">外部商品サイトはこちら</a></p>
            <a href="{{url_for('books.show_book',book_id=book.id)}}" class="btn btn-primary">本紹介はこちら</a>
          </div>
        </div>
        
      </div>
  </div>
  {% else %}
  <div class="col-md-6">
    <div class="card col-md-12">
      <div class="row g-0">
        <div class="col-md-4 text-center">
          <img src="{{book.img_link}}"  style="height: 200px;" alt="..." class="ima-fluid">
        </div>
     
        <div class="container col-md-8 text-start">
          <h6>{{book.title}}</h6>
          <p><a href="{{book.pur_link}}" class="btn btn-secondary">外部商品サイトはこちら</a></p>
            <a href="{{url_for('books.show_book',book_id=book.id)}}" class="btn btn-primary">本紹介はこちら</a>
        </div>
      </div>
      
    </div>
</div>
  {% endif %}
{% endfor %}
</div>
</div>
  
{% endblock %}