{% extends 'base.html' %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{ url_for("static", filename="beach.jpg") }} alt="" width="100%" height="100%" >
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        
        <div class="container">
          <div class="carousel-caption text-center">
            <h2>「本質に興味がある」</h2>
            <h3>「知的好奇心を満たすことに喜びを感じる」</h3>
            <p>そんな人々と共有したいことがある</p>
            <p>まずは発信していこう</p>
            {% if current_user.is_authenticated%}
            <p><a class="btn btn-lg btn-primary" href="{{url_for('core.info')}}">View details</a></p>
            {% else %}
            <p><a class="btn btn-lg btn-primary" href="{{url_for('users.signup')}}">Sign up today</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src={{ url_for("static", filename="parchment-g61a8a4583_640.jpg") }} alt="" width="100%" height="100%" class="">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="false" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            <a href="https://pixabay.com/ja/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4746819">Gerd Altmann</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4746819">Pixabay</a>からの画像
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src={{ url_for("static", filename="planet-g6ccbb144e_640.jpg") }} alt="" width="100%" height="100%" class="">
        
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            <a href="https://pixabay.com/ja/users/loganart-665411/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=581239">LoganArt</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=581239">Pixabay</a>からの画像
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="circle" src="{{url_for('static',filename='books-gb9295fff0_640.jpg')}}">
            
          <h2>Books</h2>
          <p>最近読んだ本の紹介をしています。</p>
          <p>認知科学、問題解決、一部歴史など</p>
          <p><a class="btn btn-secondary" href="{{url_for('books.show_shelf')}}">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="circle" src="{{url_for('static',filename='laptop-g97bc331d3_640.jpg')}}">
  
          <h2>Software</h2>
          <p>お気に入りのソフトウェアについて紹介しています。</p>
          <p>#Unreal Engine #Blender #Craft #Dynalist #Unity #Procreate</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="circle" src="{{url_for('static',filename='gaming-gb413d174f_640.jpg')}}">
  
          <h2>Games</h2>
          <p>ゲームやスマホアプリの作成について</p>
          <p>Unreal Engine, Blenderを使用したゲーム制作</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
      {% if booksposts%}
      
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Brand new post</h2>
          <span class="text-muted">It’ll blow your mind.</span>
            <div class="post">
                <h3>この本についての紹介です。</h3>
                <h3>{{book.title}}</h3>
                <img src="{{book.img_link}}" width="100px">
                <div class="" style="padding:2em">
                  <h5>{{ booksposts.title }}</h5>
                  <p >{{ booksposts.text }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{url_for('books.show_book',book_id=book.id)}}">View details</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        
         
  
        </div>
      </div>
     
      {% else %}
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Brand new post</h2>
          <span class="text-muted">It’ll blow your mind.</span>
          <p class="lead">投稿記事はありません</p>
        </div>
        <div class="col-md-5">
          <img src="{{book.img_link}}">
         
  
        </div>
      </div>
      {% endif %}
  
      
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
{% endblock %}